{% extends '@Admin/layout.html.twig' %}

{% block title %}Author list{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admin/assets/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Author list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('msbios_blog_post_index') }}">Home</a>
                </li>
                <li>
                    <a href="/admin">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Authors</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Author list</h5>
                </div>
                <div class="ibox-content">

                    <a href="{{ path('msbios_admin_author_new') }}"
                       class="btn btn-primary">
                        Create a new entry
                    </a>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th class="no-link last text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>
                                    <a href="{{ path('msbios_admin_author_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                </td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.slug }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-right">
                                    <a href="{{ path('msbios_admin_author_show', { 'id': entity.id }) }}"
                                       class="btn btn-success btn-xs">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path('msbios_admin_author_edit', { 'id': entity.id }) }}"
                                       class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
