{% extends "@Blog/layout.html.twig" %}

{% block title %}
    {{ 'post.by.author' | trans({'%name%': author.name}) }}
{% endblock %}

{% block section %}

    {% for post in posts %}
        {{ include('BlogBundle:Post:_post.html.twig', {post:post}) }}
    {% else %}
        <p>{{ 'author.empty.posts' | trans }}</p>
    {% endfor %}

{% endblock %}

{% block sidebar %}

    <div class="col-sm-4 blog-post">
        <h3>{{ 'post.by' | trans }}</h3>
        <p class="blog-post-meta">
            {{ author.name }}
        </p>
    </div><!-- /.blog-post -->

{% endblock %}